*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  display: flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.showbox{
  position:relative;
  overflow:hidden;
  width:1224px;
  height:500px;
}

li{
  position:absolute;
  list-style:none;
  display:inline-block;
}

.imagebox{
  position:absolute;
  overflow:hidden;
  width:100%;
  height:100%;
}

.list-items{
  position:absolute;
  width:100%;
  z-index:10;
  top: 450px;
  text-align:center;
}

.list-items span{
  display:inline-block;
  height:6px;
  width:30px;
  margin:0 3px;
  background-color: #b2b2b2;
  cursor: pointer;
}

.list-items .active{
  background-color: orange;
}


.list-enter-to {
  transition: all 2s ease;
  transform: translateX(0);
}

.list-leave-to {
  transition: all 2s ease;
  transform: translateX(-100%)
}

.list-enter {
  transform: translateX(100%)
}

.list-leave {
  transform: translateX(0)
}

